<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="/Css/style.css">
</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="header">
            <div class="header-content">
                <h2>Create your own watchlist.</h2>
                <form class="email-signup">
                    <input type="email" placeholder="Email Address" required>
                    <button type="submit">Get Started</button>
                </form>
            </div>
        </div>
        <div class="features">
            <div class="row">
                <div class="text-col">
                    <h2>Enjoy International Movies</h2>
                    <p>Watch with your friends and family.</p>
                </div>
                <div class="img-col">
                    <img src="/images/tenet.jpg">
                </div>
                <section>
                    <div class="container my-5">
                        <div class="row image-row">
                            <div class="col-md-3 col-6 mb-4">
                                <img src="/images/ssmb.jpg" alt="Image 1" class="img-fluid rounded">
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <img src="/images/starwars.jpg" alt="Image 2" class="img-fluid rounded">
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <img src="/images/joker.jpg" alt="Image 3" class="img-fluid rounded">
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <img src="/images/inception.jpg" alt="Image 4" class="img-fluid rounded">
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <img src="/images/black.jpg" alt="Image 4" class="img-fluid rounded">
                            </div>
                            <div class="col-md-3 col-6 mb-4">
                                <img src="/images/dead.jpg" alt="Image 4" class="img-fluid rounded">
                            </div>
                        </div>
                    </div>
                </section>
                <section style="background-color: black; width:100%">
                    <div class="row">
                        <div class="img-col">
                            <img src="/images/avenger.jpeg">
                        </div>
                        <div class="text-col">
                            <h2>Create a watchlist of your favourites.</h2>
                            <p>Get some thriller experiance.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </ul>
        </div>
</body>

</html>